.btn-group
  - if resource.pre_order
    = link_to edit_pre_order_pre_order_item_path(resource.pre_order, resource), class: 'btn btn-sm btn-outline-secondary' do
      Edit

    = link_to analysis_pre_order_pre_order_item_path(resource.pre_order, resource), class: 'btn btn-sm btn-outline-primary' do
      Analyze
