- link = capture_haml do
  = fa_icon('barcode', text: 'SKU Issues')
  - if (count = Sku.needing_attention.count).positive?
    %span.badge.badge-danger.navbar-badge=count

= nav_link_to link, with_issues_skus_path
