= nav_dropdown 'Billing' do
  = nav_link_to fa_icon('credit-card', text: 'CC BIlling Due'), billing_due_path
  = nav_link_to fa_icon('dollar-sign', text: 'Monthly BIlling Report'), billing_report_path
