!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name=> "viewport"}

    %base{:href => "https://#{ENV['APPLICATION_HOST']}/"}

    -# 2-5/16" x 4"
    %meta{:name => 'pdfkit-page-width',    :content => 101.6}
    %meta{:name => 'pdfkit-page-height',   :content => 58.7375}
    %meta{:name => 'pdfkit-margin-top',    :content => 1}
    %meta{:name => 'pdfkit-margin-bottom', :content => 1}
    %meta{:name => 'pdfkit-margin-left',   :content => 2}
    %meta{:name => 'pdfkit-margin-right',  :content => 3}

    - (@pdf_options || {}).each do |k,v|
      %meta{:name => "pdfkit-#{k}", :content => v.to_s }

    %title=(@page_title || 'Dymo-30256 Label')
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = yield
