!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name=> "viewport"}

    %base{:href => "https://#{ENV['APPLICATION_HOST']}/"}

    %meta{:name => 'pdfkit-page-size',     :content => 'Letter'}
    %meta{:name => 'pdfkit-orientation',   :content => 'Portrait'}
    %meta{:name => 'pdfkit-margin-top',    :content => '0.5in'}
    %meta{:name => 'pdfkit-margin-bottom', :content => '0.5in'}
    %meta{:name => 'pdfkit-margin-left',   :content => '1in'}
    %meta{:name => 'pdfkit-margin-right',  :content => '1in'}

    - (@pdf_options || {}).each do |k,v|
      %meta{:name => "pdfkit-#{k}", :content => v.to_s }

    %title=(@page_title || '')
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = yield
