.content
  .row
    = link_to 'Back to Order', order_path(@order)
  .row
    .col-6.offset-3
      .card.card-primary.card-outline
        .card-header
          %h2.card-title
            = fa_icon 'print'
            Label Preview For: #{@order}
          .card-tools
            %button.btn.btn-primary#print-button Print
        .card-body
          =render partial: 'shipping_label'

- content_for :scripts do
  :coffee
    $(document).ready () ->
      $('#print-button').click (e) ->
        window.open('#{shipping_label_order_path(format: :pdf)}', '_label')
