/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *
 *= require 'css/adminlte'
 *= require 'fontawesome-free/css/all'
 *= require 'fa-fix'
 *
 * pace-progress
 *= require 'pace-progress/themes/blue/pace-theme-minimal'
 *
 *= require effective_datatables
 *= require effective_bootstrap
 *
 * Sweet Alert 2
 *= require sweetalert2/sweetalert2
 *
 * Toastr toast alerts
 *= require 'toastr/toastr'
 *
 * daterange picker
 *= require 'daterangepicker/daterangepicker'
 *
 * iCheck for checkboxes and radio inputs
 *= require 'icheck-bootstrap/icheck-bootstrap'
 *
 * Bootstrap Color Picker
 *= require 'bootstrap-colorpicker/css/bootstrap-colorpicker'
 *
 * Tempusdominus Bootstrap 4
 *= require 'tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4'
 *
 * Select2
 *= require 'select2/css/select2'
 *= require 'select2-bootstrap4-theme/select2-bootstrap4'
 *
 * Bootstrap4 Duallistbox
 *= require 'bootstrap4-duallistbox/bootstrap-duallistbox'
 *
 * BS Stepper
 *= require 'bs-stepper/css/bs-stepper'
 *
 * dropzonejs
 *= require 'dropzone/min/dropzone'
 *
 *= require_self
 */

table.dataTable > thead tr th {
  vertical-align: top;
}

.wpc2  { width: 2% }
.wpc5  { width: 5% }
.wpc10 { width: 10% }
.wpc15 { width: 15% }
.wpc20 { width: 20% }
.wpc25 { width: 25% }
.wpc30 { width: 30% }
.wpc50 { width: 50% }
.wpc60 { width: 60% }
.wpc70 { width: 70% }

.bg-highlight {
  background-color: #ffff00 !important;
}
.bg-peach {
  background-color: #f9e6d7 !important;
}
