.content
  = default_resource_form(read_only: local_assigns[:readonly]) do |f|
    .row
      .col-lg-8.offset-2
        = lte_card title: 'General', style: [:primary, :outline] do
          %p.card-text
            - @resource.default_attributes.keys.each do |a|
              = f.input a

    - unless local_assigns[:readonly]
      .row
        = simple_form_submit(f)
