- content_for :page_title do
  = @page_title

- resource = (@_effective_resource || Effective::Resource.new(controller_path))
- @resource = instance_variable_get('@' + resource.name) if resource.name

- if @resource
  .col-12
    .card
      .card-header
        %h3.card-title
          =@page_title
          =auxiliary_save_button
        .card-tools
          = cancel_button

      .card-body
        = render_resource_form(@resource, action: action_name)
