/ Navbar
%nav.main-header.navbar.navbar-expand.navbar-dark
  / Left navbar links
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{"data-widget" => "pushmenu", :href => "#", :role => "button"}
        %i.fas.fa-bars
    = render partial: 'layouts/receiving_menu'
    = render partial: 'layouts/shipping_menu'
    = render partial: 'layouts/billing_menu'

  / Right navbar links
  %ul.navbar-nav.ml-auto
    -#= render partial: 'layouts/nav_search'
    -#= render partial: 'layouts/nav_messages'
    -#= render partial: 'layouts/nav_notifications'
    = render partial: 'layouts/nav_user'
    %li.nav-item
      %a.nav-link{"data-widget" => "fullscreen", :href => "#", :role => "button"}
        %i.fas.fa-expand-arrows-alt
    %li.nav-item
      %a#control-sidebar.nav-link{"data-slide" => "true", "data-widget" => "control-sidebar", :href => "#", :role => "button"}
        %i.fas.fa-adjust

