-# Main Sidebar Container
%aside.main-sidebar.sidebar-dark-primary.elevation-4.main-sidebar-custom
  -# Brand Logo
  %a.brand-link{:href => root_path}
    %img.brand-image.elevation-3{:alt => "AURORA Logo", :src => "/img/AC_Icon_DarkBG.svg", :style => "opacity: .8"}/
    %span.brand-text.font-weight-light AURORA
  -# Sidebar
  .sidebar
    -# Sidebar Menu
    %nav.mt-2
      %ul.nav.nav-pills.nav-sidebar.nav-flat.flex-column{data: {accordion: false, widget: :treeview}, role: :menu}
        =sidebar_link_to(home_path, icon: 'tachometer-alt', label: 'Dashboard')
        =sidebar_link_to(Prospect, icon: 'seedling')
        =sidebar_link_to(Customer, icon: 'certificate')
        =sidebar_link_to(PurchaseOrder, icon: 'file')
        =sidebar_link_to(Order, icon: 'star')
        =sidebar_link_to(PreOrder, icon: 'star')
        =sidebar_link_to(Supplier, icon: 'suitcase')
        =sidebar_link_to(Sku, icon: 'barcode')
        =sidebar_link_to(Vendor, icon: 'truck')
        =sidebar_link_to(OrderPayment, icon: 'dollar-sign')

        =sidebar_dropdown('Meta', 'th', expanded: true) do
          =sidebar_link_to(Category, icon: 'bolt')
          =sidebar_link_to(SkuCustInfo, icon: 'crosshairs')
          =sidebar_link_to(SkuClass, icon: 'crosshairs')
          =sidebar_link_to(PreOrderCode, icon: 'cog')
          =sidebar_link_to(InventoryScanOperation, icon: 'barcode')
          =sidebar_link_to(TaxJurisdiction, icon: 'landmark')

  -#.sidebar-custom
  -#  %a.btn.btn-link{:href => "#"}
  -#    %i.fas.fa-cogs
  -#  %a.btn.btn-secondary.hide-on-collapse.pos-right{:href => "#"} Help
